<app-breadcrumb [title]="'Add Announcement'" [items]="['Digital Portfolio']" [active_item]="'Add Announcement'"></app-breadcrumb>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h5>Post Edit</h5>
                </div>
                <div class="card-body add-post">

                    <!-- Caption Input -->
                    <form class="row needs-validation" novalidate>
                        <div class="col-sm-12">
                            <div class="mb-3">
                                <label for="validationCustom01">Caption:</label>
                                <input class="form-control" id="validationCustom01" type="text" name="validationCustom01"
                                       placeholder="post caption" required [(ngModel)]="caption">
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                        </div>
                    </form>

                    <!-- Upload Label -->
                    <div class="row">
                        <div class="col">
                            <div class="mb-2">
                                <label>Upload file</label>
                            </div>
                        </div>
                    </div>

                    <!-- Ngx-Dropzone -->
                    <ngx-dropzone [multiple]="false" (change)="onSelect($event)" [disabled]="uploading">
                        <ngx-dropzone-label>
                            <div class="dz-message needsclick">
                                <i class="icon-cloud-up"></i>
                                <h6>Drop files here or click to upload</h6>
                                <span class="text-muted">Upload directly to Cloudinary</span>
                            </div>
                        </ngx-dropzone-label>

                        <!-- Previews -->
                        <ngx-dropzone-preview *ngFor="let file of files" [removable]="true" (removed)="onRemove(file)">
                            <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
                            <ngx-dropzone-image-preview *ngIf="file.type.includes('image')" [file]="file"></ngx-dropzone-image-preview>
                        </ngx-dropzone-preview>
                    </ngx-dropzone>

                    <!-- Post Button -->
                    <div class="btn-showcase text-end mt-3">
                        <button class="btn btn-primary" (click)="post()" [disabled]="uploading">
                            Post
                        </button>
                        <input class="btn btn-light" type="reset" value="Discard" (click)="resetForm()">
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show uploaded image preview -->
<img *ngIf="uploadedImageUrl" [src]="uploadedImageUrl" alt="Uploaded image" class="img-fluid mt-3">