<app-breadcrumb [title]="'Notices'" [items]="['Special Notices']" [active_item]="'Notices'"></app-breadcrumb>

<div class="row">
    <div class="col-sm-12">
        <div *ngFor="let item of post">
            <div class="card" >
                <div class="card-body">
                    <div class="timeline-content">
                        <p>{{item.message}}</p>
                        <h6></h6>
                    </div>
                    <img class="img-fluid" alt="" src="{{item.mediaLink}}" style="max-width: 400px">
                </div>
            </div>
        </div>
    </div>
</div>
